  
  
  html {
    box-sizing: border-box;
    background:#ffc600;
    font-family:'Roboto Mono';
    font-size: 10px;
    font-weight: 200;
  }
  body {
    margin: 0;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  .content {
    width: 90%;
    height:50%;
    margin: auto;
  }

  .panels {
    min-height:100vh;
    overflow: hidden;
    display: flex;
  }

  .panel {
    background:#6B0F9C;
    box-shadow:inset 0 0 0 5px rgba(255,255,255,0.1);
    color:white;
    text-align: center;
    align-items:center;
    /* Safari transitionend event.propertyName === flex */
    /* Chrome + FF transitionend event.propertyName === flex-grow */
    transition:
      font-size 0.7s linear(),
      flex 0.7s linear(),
      background 0.2s;
    font-size: 12px;
    transition-duration: 0.7s;
    background-size:cover;
    background-position:center;
    flex: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  
  /* Flex Items */
  .panel > * {
    margin:0;
    width: 100%;
    transition:transform 0.5s;
    flex: 1 0 auto;
    display:flex;
    justify-content: center;
    align-items: center;
  }

  .panel > *:first-child { transform: translateY(-100%); }
  .panel.open-active > *:first-child { transform: translateY(0); }
  .panel > *:last-child { transform: translateY(100%); }
  .panel.open-active > *:last-child { transform: translateY(0); }

  .panel p {
    font-family: 'Roboto Mono', cursive;
    text-shadow:0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
    font-size: 1em;
  }
  .panel p:nth-child(2) {
    font-size: 3em;
  }

  .panel.open {
    flex: 5;
    font-size:40px;
  }
